{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('logout') }}">Logout</a>
        {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
{% endblock %}